<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="index.html">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="about-me.html">About Me</a>
  <a class="flex-sm-fill text-sm-center nav-link active" href="books.html">Books</a>
</nav>
  <link rel="stylesheet" href="css/site.css">
  <link rel="icon" type="image/ico" href="img/file_document_icon_143599.ico">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
  
  <script src="https://unpkg.com/vue@next"></script>
  <h1>Books</h1>
</head>
<body>
  

<div id="ProfileApp" class="container">  
<table id="book-table" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Year Published</th>
      <th scope="col">Publisher</th>
      <th scope="col">Page Count</th>
      <th scope="col">MSRP</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="book in books">
      <td>{{ book.book_id }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publish_year }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.page_count }}</td>
      <td>{{ prettyDollar(book.msrp) }}</td>
  </tr>
  </tbody>
</table>

<br>
<form v-on:submit.prevent="postNewBook">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" v-model="bookForm.title"
     class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" v-model="bookForm.author" class="form-control" id="author">
  </div>
  <div class="mb-3">
    <label for="publish_year" class="form-label">Year Published</label>
    <input type="number" v-model="bookForm.publish_year" class="form-control" id="publish_year">
  </div>
  <div class="mb-3">
    <label for="publisher" class="form-label">Publisher</label>
    <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher">
  </div>
  <div class="mb-3">
    <label for="page_count" class="form-label">Page Count</label>
    <input type="number" v-model="bookForm.page_count" class="form-control" id="page_count">
  </div>
  <div class="mb-3">
    <label for="msrp" class="form-label">MSRP</label>
    <input type="number" v-model="bookForm.msrp" class="form-control" id="msrp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script src="js/index.js"></script>
<!-- Scripts from http://tristen.ca/tablesort/demo/ -->
<script src="js/tablesort.min.js"></script>

<script>
  new Tablesort(document.getElementById('book-table'));
</script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>



